

.tcontainer {
    width: 600px;
    height: 600px;
    position: absolute;
    background-color: #cecece;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1;
    border-width: 1px;
    border-color: black;
    overflow: hidden;
    border-style: solid;
}

.tool {
    height: 50px;
    width: 100px;
    margin: 5px;
}

#toolbox {
    display: flex;
    align-content: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Pricing-Container {
    height: 100%;
    width: 100%;
    display: block;
    border: 0;
    z-index: 2;
}